Repository rust-bitcoin/corepc, pull requests merged in 2025-06, with the labels that each got.

#220 Implement ping method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/network.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/network.rs
Labels: C-client, C-integration-test

#224 Correct typo in struct field
  types/src/v17/network/mod.rs
Labels: C-types

#219 Correct typos across the entire codebase
  client/CHANGELOG.md
  contrib/run-bitcoind.sh
  fuzz/cycle.sh
  integration_test/tests/raw_transactions.rs
  node/CHANGELOG.md
  node/src/lib.rs
  types/CHANGELOG.md
  types/src/model/blockchain.rs
  types/src/v17/raw_transactions/mod.rs
  types/src/v19/blockchain/mod.rs
Labels: C-client, C-node, C-types, C-integration-test

#227 Remove TODO from `receivedbyaddress`
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types

#230 Implement setnetworkactive method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/network.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/network.rs
  types/src/v17/mod.rs
  types/src/v17/network/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v17.rs
  verify/src/method/v18.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#231 Implement abandontransaction and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#235 Standardize version number format in docs
  client/src/client_sync/v21/wallet.rs
  client/src/client_sync/v23/blockchain.rs
  client/src/client_sync/v26/blockchain.rs
  client/src/client_sync/v26/mining.rs
  integration_test/tests/generating.rs
  integration_test/tests/mining.rs
  integration_test/tests/raw_transactions.rs
  types/src/lib.rs
  types/src/model/blockchain.rs
  types/src/psbt/mod.rs
  types/src/v17/blockchain/mod.rs
  types/src/v17/mining/mod.rs
  types/src/v17/raw_transactions/mod.rs
  types/src/v19/blockchain/mod.rs
  types/src/v26/blockchain.rs
  types/src/v29/mining/mod.rs
  verify/src/lib.rs
  verify/src/method/v17.rs
  verify/src/method/v18.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
Labels: C-client, C-types, C-verify, C-integration-test

#234 Add missing v18 util methods
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v18/util.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/util.rs
  types/src/model/mod.rs
  types/src/model/util.rs
  types/src/v18/mod.rs
  types/src/v18/util/into.rs
  types/src/v18/util/mod.rs
  types/src/v19/mod.rs
  types/src/v19/util.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  types/src/v29/util.rs
Labels: C-client, C-types, C-integration-test

#232 Implement `submitheader` and test
  client/src/client_sync/v18/mining.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/mining.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test

#233 Implement importprivkey and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#237 Add missing v18 wallet methods
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v18/wallet.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
  types/src/model/mod.rs
  types/src/model/wallet.rs
  types/src/v18/mod.rs
  types/src/v18/wallet/error.rs
  types/src/v18/wallet/into.rs
  types/src/v18/wallet/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test

#225 Implement listbanned method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/network.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/network.rs
  types/src/v17/mod.rs
  types/src/v17/network/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v20/network.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v22/network.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v17.rs
  verify/src/method/v18.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#249 Remove redundant tmp file existence check in wallet integration test
  integration_test/tests/wallet.rs
Labels: C-integration-test

#250 Implement encryptwallet method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
  types/src/v17/mod.rs
  types/src/v17/wallet/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v17.rs
  verify/src/method/v18.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#254 Implement importaddress method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#253 Enable the v28 `raw_transaction` module
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types

#257 integration test: Document incompatibility of `--all-features`
  integration_test/README.md
Labels: C-integration-test

#259 Annotate null-returning integration test functions with ()
  integration_test/tests/blockchain.rs
  integration_test/tests/network.rs
  integration_test/tests/wallet.rs
Labels: C-integration-test

#261 Fix clippy lints in `integration_test`
  integration_test/tests/mining.rs
  integration_test/tests/network.rs
  integration_test/tests/raw_transactions.rs
  integration_test/tests/util.rs
  integration_test/tests/wallet.rs
Labels: C-integration-test

#269 Implement importpubkey method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#268 Lint non-workspace crates in CI
  .github/workflows/README.md
  .github/workflows/rust.yaml
  contrib/lint-verify.sh
  justfile
  verify/src/main.rs
  verify/src/versioned.rs
Labels: C-verify

#276 Implement importwallet method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test
