Repository rust-bitcoin/corepc, pull requests merged in 2025-10, with the labels that each got.

#370 Add ScriptPubKey model
  types/src/lib.rs
  types/src/model/blockchain.rs
  types/src/model/mod.rs
  types/src/v29/blockchain/error.rs
  types/src/v29/blockchain/into.rs
Labels: C-types

#374 Remove `serde-deny-unknown-fields` from `model` types
  types/src/model/blockchain.rs
  types/src/model/generating.rs
  types/src/model/mining.rs
  types/src/model/network.rs
  types/src/model/raw_transactions.rs
  types/src/model/util.rs
  types/src/model/wallet.rs
Labels: C-types

#378 Bump versions to 0.10.0
  Cargo-minimal.lock
  Cargo-recent.lock
  client/CHANGELOG.md
  client/Cargo.toml
  node/CHANGELOG.md
  node/Cargo.toml
  types/CHANGELOG.md
  types/Cargo.toml
Labels: C-client, C-node, C-types

#379 Specify version of dependencies instead of path
  client/Cargo.toml
  node/Cargo.toml
Labels: C-client, C-node
