Repository rust-bitcoin/corepc, pull requests merged in 2025-08, with the labels that each got.

#315 Improve `GetPeerInfo`
  integration_test/tests/network.rs
  node/src/lib.rs
  types/src/v17/network/mod.rs
  types/src/v18/network/mod.rs
  types/src/v19/network/mod.rs
  types/src/v21/mod.rs
  types/src/v21/network/mod.rs
  types/src/v22/mod.rs
  types/src/v22/network.rs
  types/src/v23/mod.rs
  types/src/v23/network.rs
  types/src/v24/mod.rs
  types/src/v24/network.rs
  types/src/v25/mod.rs
  types/src/v26/network.rs
Labels: C-node, C-types, C-integration-test

#321 Remove `getnodeaddresses` model
  integration_test/tests/network.rs
  types/src/model/mod.rs
  types/src/model/network.rs
  types/src/v18/mod.rs
  types/src/v18/network/into.rs
  types/src/v18/network/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v18.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-types, C-verify, C-integration-test

#318 Address all TODO in v27
  types/src/v27/mod.rs
  types/src/v27/network/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types, C-verify, C-integration-test

#324 Address all TODO in v29
  client/src/client_sync/v29/mod.rs
  client/src/client_sync/v29/util.rs
  integration_test/tests/util.rs
  types/src/model/mod.rs
  types/src/model/util.rs
  types/src/v29/mod.rs
  types/src/v29/util.rs
Labels: C-client, C-types, C-integration-test

#322 Address all TODO in v28
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v28/wallet.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
  types/src/model/mod.rs
  types/src/model/wallet.rs
  types/src/v28/mod.rs
  types/src/v28/wallet/error.rs
  types/src/v28/wallet/into.rs
  types/src/v28/wallet/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-verify, C-integration-test

#326 Test finalizepsbt
  client/src/client_sync/v17/raw_transactions.rs
  integration_test/tests/raw_transactions.rs
  types/src/model/raw_transactions.rs
  types/src/v17/mod.rs
  types/src/v17/raw_transactions/into.rs
  types/src/v17/raw_transactions/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test

#325 Add `getmempoolancestors` and `getmempooldecendents` tests and update for version changes
  integration_test/tests/blockchain.rs
  types/src/v17/mod.rs
  types/src/v18/blockchain/into.rs
  types/src/v18/blockchain/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/blockchain/into.rs
  types/src/v21/blockchain/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/blockchain/into.rs
  types/src/v23/blockchain/mod.rs
  types/src/v23/mod.rs
  types/src/v24/blockchain/into.rs
  types/src/v24/blockchain/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types, C-integration-test

#329 Add `addmultisigaddress` test and update structs
  integration_test/tests/wallet.rs
  types/src/model/wallet.rs
  types/src/v17/mod.rs
  types/src/v17/wallet/into.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v20/wallet/into.rs
  types/src/v20/wallet/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v23/wallet/into.rs
  types/src/v23/wallet/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types, C-integration-test

#330 Test `listaddressgroupings`
  integration_test/tests/wallet.rs
  types/src/v17/wallet/into.rs
  types/src/v17/wallet/mod.rs
Labels: C-types, C-integration-test

#334 Fix `getnodeaddresses` test
  client/src/client_sync/v21/hidden.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/network.rs
  types/src/v21/hidden.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v22/network.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v27/network/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test

#335 Fix `addpeeraddress` client macro name
  client/src/client_sync/v21/hidden.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
Labels: C-client

#336 Test `listwallets`
  integration_test/tests/wallet.rs
  types/src/v17/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types, C-integration-test

#342 Test `utxoupdatepsbt` and `joinpsbts`
  client/src/client_sync/v18/raw_transactions.rs
  integration_test/tests/raw_transactions.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test

#343 Test `getzmqnotifications`
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/zmq.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/zmq.rs
  types/src/v17/mod.rs
  types/src/v18/mod.rs
  types/src/v18/zmq.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test
