Repository rust-bitcoin/corepc, pull requests merged in 2025-07, with the labels that each got.

#280 Implement removeprunedfunds method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#281 Correct method name for lockunspent client doc
  client/src/client_sync/v17/wallet.rs
Labels: C-client

#282 Implement `setwalletflag` method and test
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v19/wallet.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
  types/src/v19/mod.rs
  types/src/v19/wallet/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#289 Address all `TODO` in v21
  client/src/client_sync/v21/generating.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v21/util.rs
  client/src/client_sync/v21/wallet.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/generating.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/generating.rs
  integration_test/tests/util.rs
  integration_test/tests/wallet.rs
  types/src/model/generating.rs
  types/src/model/mod.rs
  types/src/model/wallet.rs
  types/src/v21/generating/error.rs
  types/src/v21/generating/into.rs
  types/src/v21/generating/mod.rs
  types/src/v21/mod.rs
  types/src/v21/util.rs
  types/src/v21/wallet.rs
  types/src/v21/wallet/error.rs
  types/src/v21/wallet/into.rs
  types/src/v21/wallet/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/generating/error.rs
  types/src/v25/generating/into.rs
  types/src/v25/generating/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test

#287 Implement walletpassphrase method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#288 Implement walletpassphrasechange method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#304 Add full stops to rustdocs in jsonrpc
  jsonrpc/src/client.rs
  jsonrpc/src/error.rs
  jsonrpc/src/http/minreq_http.rs
  jsonrpc/src/http/simple_http.rs
Labels: C-jsonrpc

#305 Add full stops to rustdocs in node
  node/src/lib.rs
Labels: C-node

#300 Remove `GenerateBlockError` in v21-24
  integration_test/tests/generating.rs
  types/src/v21/generating/error.rs
  types/src/v21/generating/into.rs
  types/src/v21/generating/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
Labels: C-types, C-integration-test

#295 Address all TODO in v22
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v22/signer.rs
  client/src/client_sync/v22/wallet.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/wallet.rs
  types/src/model/mod.rs
  types/src/model/wallet.rs
  types/src/v22/mod.rs
  types/src/v22/signer.rs
  types/src/v22/wallet/into.rs
  types/src/v22/wallet/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v25/wallet.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#303 Add full stops to rustdocs in types
  types/src/v17/network/mod.rs
  types/src/v17/wallet/mod.rs
  types/src/v20/network.rs
  types/src/v22/network.rs
  types/src/v28/raw_transactions/mod.rs
  types/src/v28/wallet/mod.rs
  types/src/v29/blockchain/mod.rs
Labels: C-types

#306 Make serde renames consistent
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v21/mod.rs
  integration_test/tests/wallet.rs
  types/src/lib.rs
  types/src/model/wallet.rs
  types/src/psbt/mod.rs
  types/src/v17/raw_transactions/mod.rs
  types/src/v17/wallet/into.rs
  types/src/v17/wallet/mod.rs
  types/src/v20/wallet/into.rs
  types/src/v20/wallet/mod.rs
  types/src/v21/network/mod.rs
  types/src/v22/network.rs
  types/src/v22/raw_transactions/mod.rs
  types/src/v23/network.rs
  types/src/v23/raw_transactions/mod.rs
  types/src/v24/network.rs
  types/src/v24/raw_transactions/into.rs
  types/src/v24/raw_transactions/mod.rs
  types/src/v24/wallet/into.rs
  types/src/v24/wallet/mod.rs
  types/src/v26/network.rs
Labels: C-client, C-types, C-integration-test

#307 Remove unnecessary "parsed into" in rustdocs
  types/src/model/blockchain.rs
Labels: C-types

#301 Address all TODO in v23
  client/src/client_sync/v23/blockchain.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v23/wallet.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/blockchain.rs
  integration_test/tests/wallet.rs
  types/src/model/blockchain.rs
  types/src/model/mod.rs
  types/src/v23/blockchain/error.rs
  types/src/v23/blockchain/into.rs
  types/src/v23/blockchain/mod.rs
  types/src/v23/mod.rs
  types/src/v23/wallet/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-verify, C-integration-test

#302 Add full stops to rustdocs in client
  client/src/client_sync/error.rs
  client/src/client_sync/v17/blockchain.rs
  client/src/client_sync/v17/generating.rs
  client/src/client_sync/v17/mining.rs
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/network.rs
  client/src/client_sync/v17/raw_transactions.rs
  client/src/client_sync/v17/util.rs
  client/src/client_sync/v17/wallet.rs
  client/src/client_sync/v18/network.rs
  client/src/client_sync/v18/raw_transactions.rs
  client/src/client_sync/v18/util.rs
  client/src/client_sync/v19/blockchain.rs
  client/src/client_sync/v19/wallet.rs
  client/src/client_sync/v20/generating.rs
  client/src/client_sync/v21/generating.rs
  client/src/client_sync/v21/wallet.rs
  client/src/client_sync/v22/wallet.rs
  client/src/client_sync/v23/blockchain.rs
  client/src/client_sync/v25/generating.rs
  client/src/client_sync/v26/blockchain.rs
  client/src/client_sync/v26/mining.rs
  client/src/client_sync/v26/raw_transactions.rs
  client/src/client_sync/v28/raw_transactions.rs
  client/src/client_sync/v29/blockchain.rs
Labels: C-client

#293 Follow up to v21 TODO
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v21/wallet.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v23/wallet.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/util.rs
  integration_test/tests/wallet.rs
Labels: C-client, C-integration-test

#308 Address all TODO in v24
  client/src/client_sync/mod.rs
  client/src/client_sync/v24/blockchain.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v24/wallet.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/blockchain.rs
  integration_test/tests/wallet.rs
  types/src/model/blockchain.rs
  types/src/model/mod.rs
  types/src/model/wallet.rs
  types/src/v24/blockchain/error.rs
  types/src/v24/blockchain/into.rs
  types/src/v24/blockchain/mod.rs
  types/src/v24/mod.rs
  types/src/v24/wallet/error.rs
  types/src/v24/wallet/into.rs
  types/src/v24/wallet/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#309 Only codesign bitcoind if necessary
  node/build.rs
Labels: C-node

#311 Address all TODO in v25
  client/src/client_sync/v25/blockchain.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/blockchain.rs
  types/src/model/blockchain.rs
  types/src/model/mod.rs
  types/src/v25/blockchain/error.rs
  types/src/v25/blockchain/into.rs
  types/src/v25/blockchain/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-client, C-types, C-integration-test
