Repository rust-bitcoin/corepc, pull requests merged in 2025-05, with the labels that each got.

#188 Improve ListUnspent data handling: Fix deserialization & add into_model
  integration_test/tests/wallet.rs
  types/src/v17/mod.rs
  types/src/v17/wallet/into.rs
  types/src/v18/mod.rs
  types/src/v18/wallet/into.rs
  types/src/v18/wallet/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types, C-integration-test

#203 Implement clearbanned method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/network.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24.rs
  client/src/client_sync/v25.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/network.rs
Labels: C-client, C-integration-test

#206 integration_test: Pause after node comes up
  integration_test/src/lib.rs
Labels: C-integration-test

#213 Fix integration test failures by making Node::with_conf more robust
  integration_test/src/lib.rs
  node/src/lib.rs
Labels: C-node, C-integration-test

#216 Remove unnecessary feature gate
  node/src/lib.rs
Labels: C-node

#212 Implement getconnectioncount method and test
  client/src/client_sync/v17/mod.rs
  client/src/client_sync/v17/network.rs
  client/src/client_sync/v18/mod.rs
  client/src/client_sync/v19/mod.rs
  client/src/client_sync/v20/mod.rs
  client/src/client_sync/v21/mod.rs
  client/src/client_sync/v22/mod.rs
  client/src/client_sync/v23/mod.rs
  client/src/client_sync/v24/mod.rs
  client/src/client_sync/v25/mod.rs
  client/src/client_sync/v26/mod.rs
  client/src/client_sync/v27/mod.rs
  client/src/client_sync/v28/mod.rs
  client/src/client_sync/v29/mod.rs
  integration_test/tests/network.rs
  types/src/v17/mod.rs
  types/src/v17/network/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
  verify/src/method/v17.rs
  verify/src/method/v18.rs
  verify/src/method/v19.rs
  verify/src/method/v20.rs
  verify/src/method/v21.rs
  verify/src/method/v22.rs
  verify/src/method/v23.rs
  verify/src/method/v24.rs
  verify/src/method/v25.rs
  verify/src/method/v26.rs
  verify/src/method/v27.rs
  verify/src/method/v28.rs
  verify/src/method/v29.rs
Labels: C-client, C-types, C-verify, C-integration-test

#217 Update 'returns (std)' to 'version' for version methods
  types/src/v17/mod.rs
  types/src/v18/mod.rs
  types/src/v19/mod.rs
  types/src/v20/mod.rs
  types/src/v21/mod.rs
  types/src/v22/mod.rs
  types/src/v23/mod.rs
  types/src/v24/mod.rs
  types/src/v25/mod.rs
  types/src/v26/mod.rs
  types/src/v27/mod.rs
  types/src/v28/mod.rs
  types/src/v29/mod.rs
Labels: C-types
